a {
  color: #000000 !important;
}

.container {
  max-width: 1300px !important;
}

.navbar {
  padding: 0 0 4.5rem;
}
p {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}
.far {
  padding: 6%;
}
.nav-item {
  padding: 0 18px;
  color: #000000;
}
.nav-link {
  font-family: "Tajawal", sans-serif;

  font-size: 1.5rem;
}
.main-logo {
  font-size: 40px !important;
}

.vert-bar {
  border-left: 2px solid black;
  height: 40px;
  display: flex;
  margin-top: 10px !important;
}

@media screen and (max-width: 480px) {
  .main-logo {
    font-size: 20px !important;
  }
}
