.xyz {
  background-color: #87ceeb;
  text-decoration-color: #ef6b64;
}

.button {
  width: 150px;
  height: 60px;
  border-radius: 50px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: white;
  columns: #654890;
  box-shadow: 0 20px 30px -6px rgba(171, 88, 219, 0.5);
  background-image: linear-gradient(135deg, #33ccff 0%, #3333cc 100%);
  transition: all 0.3s ease-in-out;
}

.button:hover {
  transform: translatey(10px);
  box-shadow: none;
  background-image: linear-gradient(135deg, #336699 0%, #00ffcc 100%);
}

.button:active {
  opacity: 0.5;
}
.btn {
  border-radius: 50px;
  width: 150px;
  height: 60px;
}

.head {
  background-color: #141496;
  color: white;
  padding: 40px;
  font-family: sans-serif;
}

.member {
  text-align: left;
  font: sans-serif;
  /* background-color: #ffcc99; */
}

.radio {
  white-space: nowrap;
}
input[type="radio"] {
  padding-left: 10px;
  padding-right: 10px;
}

.table-responsive {
  min-height: 0.01%;
  overflow-x: auto;
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding: 4px 9px;
    font-size: 90%;
    line-height: 1.2;
  }
}
